 
<div class="quick-access-area">
    {# <p class="area-header">Szybki dostęp</p> modern-card #}

    <custom-search-form data-input-name="szukaj" data-action="{{ path('gtm_user_images_panel') }}"></custom-search-form>

    <ul class="access-links">
        <li>
            <a class="access-link-wrapper access-link-wrapper--light-green modern-card"
                href="{{ path('gtm_user_images_panel') }}">
                <i class="fa-solid fa-image access-icon"></i>
                <span class="access-text">Moje grafiki</span>
            </a>
        </li>
        <li>
            <a class="access-link-wrapper access-link-wrapper--light-green modern-card"
                href="{{ path('gtm_compressor_panel') }}">
                <i class="fa-solid fa-minimize access-icon"></i>
                <span class="access-text">Kompresor</span>
            </a>
        </li>
        <li>
            <a class="access-link-wrapper access-link-wrapper--green modern-card"
                href="{{ path('gtm_converter_panel') }}">
                <i class="fa-solid fa-icons access-icon"></i>
                <span class="access-text">Konwerter</span>
            </a>
        </li>
        <li>
            <a class="access-link-wrapper access-link-wrapper--green modern-card" href="{{ path('gtm_editor_panel') }}">
                <i class="fa-solid fa-screwdriver-wrench access-icon"></i>
                <span class="access-text">Edytor</span>
            </a>
        </li>
    </ul>
</div>

<div class="stats-area modern-card">

    <p class="area-header"><i class="fa-regular fa-hard-drive"></i> Miejsce na dysku</p>

    <circular-progress-bar data-size="160"
        data-label="{{ userCurrentDiscStorage }} {{ discStorageUnit }} z {{ userMaxDiscStorage }} {{ discStorageUnit }} wykorzystane"
        data-pie='{
                "lineargradient": ["#14a5ff", "#008be2"],
                "round": true,
                "percent": {{ userCurrentDiscStoragePercent }},
                "colorCircle": "rgba(63, 98, 74, 0.25)"
        }'>
    </circular-progress-bar>

    {% if userCurrentDiscStoragePercent > 90 %}
        <p>Zbliżasz się do limitu dostępnego miejsca na dysku. Usuń starsze pliki, by zwolnić miejsce.</p>
    {% endif %}

</div>

<div class="content-area modern-card">

    <section class="content-section">
        <div class="area-header-wrapper">
            <p class="area-header"><i class="fa-regular fa-image"></i> Ostatnie zdjęcia</p>
            <a href="{{ path('gtm_user_images_panel') }}" class="link small variant2">Zobacz wszystkie</a>
        </div>

        {% if userImages | length > 0 %}

            <images-gallery-modal></images-gallery-modal>

            {% set maxNameLength = 20 %}

            <div class="last-images-preview">

                {% for image in userImages | slice(0, 3) %}

                    {% if image.thumbnailSrc %}
                        {% set thumbnail = image.thumbnailSrc %}
                    {% else %}
                        {% set thumbnail = image.src %}
                    {% endif %}

                    <a href="#" aria-current="page" class="image-wrapper" data-gallery-preview data-src="{{ thumbnail }}" data-download-src="{{ image.src }}" data-download-name="{{ image.name }}">
                        <div class="image-overlay">
                            <div class="photo-info">
                                <div class="photo-info-text">
                                    <p class="photo-name medium"><i class="fa-regular fa-image"></i> {{ image.name }}</p>
                                    <p class="photo-subtext medium">{{ image.size | formatBytes }}</p>
                                </div>
                            </div>
                        </div>

                        <img src="{{ thumbnail }}" />

                        <span class="photo-date">{{ image.uploadedAt | date("d.m.Y", "Europe/Warsaw") }}</span>
                    </a>

                {% endfor %}

            </div>

            <div class="image-operation__table-container">
                <div class="table-responsive-vertical">
                    <table class="table table-hover table-striped">

                        <thead>
                            <th>Format</th>
                            <th>Nazwa pliku</th>
                            <th>Rozmiar</th>
                            <th>Data Modyfikacji</th>
                            <th>Akcje</th>
                        </thead>

                        <tbody>

                        {% for image in userImages | slice(0, 8) %}

                            <tr>
                                <td data-title="Format">
                                    <span class="mx-auto badge">{{ image.mimeType | replace({'image/': ''}) }}</span>
                                </td>
                                <td data-title="Nazwa pliku">
                                    <span>
                                        <i class="fa-regular fa-image"></i> {{ image.name|length > maxNameLength ? image.name|slice(0, maxNameLength) ~ '...' : image.name  }}
                                    </span>
                                </td>
                                <td data-title="Rozmiar">{{ image.size | formatBytes }}</td>
                                <td data-title="Data Modyfikacji">
                                    <span><i class="fa-regular fa-calendar"></i> {{ image.uploadedAt | date("d.m.Y", "Europe/Warsaw") }}</span>
                                </td>
                                <td data-title="Akcje">
                                    <span class="image-operation__table-actions">
                                        <a href="{{ image.src }}" download="{{ image.name }}"  class="mx-auto badge image-operation__item-download">
                                            <i class="fa-solid fa-circle-down image-operation__item-download-icon"></i>
                                            <span>Pobierz</span>
                                        </a>

                                        {% if image.thumbnailSrc %}
                                            {% set thumbnail = image.thumbnailSrc %}
                                        {% else %}
                                            {% set thumbnail = image.src %}
                                        {% endif %}

                                        <a href="#" aria-current="page" class="mx-auto badge image-operation__item" data-gallery-preview data-src="{{ thumbnail }}" data-download-src="{{ image.src }}" data-download-name="{{ image.name }}">
                                            <i class="fa-solid fa-eye image-operation__item-icon"></i>
                                            <span>Podgląd</span>
                                        </a>
                                    </span>
                                </td>
                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                    <div class="table-footer"></div>
                </div>
            </div>

        {% else %}

            <custom-alert data-message="Obecnie nie posiadasz żadnych grafik"></custom-alert>

        {% endif %}

    </section>



</div>