{% extends 'graphics_tools_module/panel.html.twig' %}

{% block title %}Narzędzia Graficzne | Kompresor{% endblock %}

{% block panel_stylesheets %}  
    <link rel="stylesheet" href="{{ asset('graphics-tools-module/css/compressor-panel.css') }}">
{% endblock %}

{% block panel_content %}    

    <div id="graphics-tools-module-compressor">

        <div class="image-operation"> 

            <div class="modern-card">
                <div class="image-operation__header">
                    <h2 class="image-operation__title">Kompresja obrazów</h2>
                </div>

                <button class="link variant2 sr-only" id="selectButton" data-select-button>
                    <i class="fa-solid fa-file-export"></i>
                    Wybierz pliki
                </button>
        
                <div class="image-operation__alerts" data-operation-alerts></div>
        
                {% include "graphics_tools_module/components/drop-zone.html.twig" %}
        
            </div>
        
            {% include "graphics_tools_module/components/image-operation-table.html.twig" %}
            
        </div> 
        
    </div> 
 
{% endblock %}

{% block panel_javascripts %}
 
<script> 

    const COMPRESS_IMAGES_URL = "{{ path('gtm_compressor_api_compress_image') }}"  
    const GET_IMAGE_DATA_URL = "{{ GET_IMAGE_DATA_URL }}"
    const DOWNLOAD_ALL_IMAGES_URL = "{{ path('gtm_download_all_images') }}"

</script> 
<script type="module" src="{{ asset('graphics-tools-module/js/compressor-panel/main.js') }}"></script>

{% endblock %}