{% extends 'graphics_tools_module/panel.html.twig' %}

{% block title %}Narzędzia Graficzne | Edytor{% endblock %}

{% block panel_stylesheets %}  
    <link rel="stylesheet" href="{{ asset('graphics-tools-module/css/editor-panel.css') }}">
{% endblock %}

{% block panel_content %} 

<div id="graphics-tools-module-editor">

    <div class="panel__header">
        <h2 class="panel__title">Edytor Zdjęć</h2>
    </div>

    <div data-editor-loading class="editor-loading modern-card">
        <span class="editor-loading-message">Trwa ładowanie edytora, proszę czekać ...</span>

        <div data-editor-loading-progress class="animated-progress animated-progress--no-label">
            <div class="animated-progress-bar">
                <div class="animated-progress-per" data-progress-bar per="0"></div>
            </div>
            <div class="animated-progress-info">
                <div data-progress-label class="animated-progress-name">Wczytywanie zasobów...</div>
                <div class="animated-progress-stats">
                    <span data-progress-text>0%</span>
                </div>
            </div>
        </div>
    </div> 

    <div class="panel__alerts" data-operation-alerts></div>

    {{ include('graphics_tools_module/components/drop-zone.html.twig', {
        textInfoTop: 'Przeciągnij i upuść obraz lub kliknij, aby wybrać',
        textInfoBottom: 'Maksymalny rozmiar pliku:',
        isTypeMultiple: false
    }, with_context: false) }} 

    <div data-editor-container class="main-container">

        <div class="settings-panel-top modern-card">

            <button class="link variant2" data-export-image-btn>
                <i class="fa-solid fa-file-export"></i> Eksportuj
            </button>

            <button class="link variant2" data-crop-image-btn>
                <i class="fas fa-crop"></i> Przytnij Zdjęcie
            </button>

        </div>  

        <div class="editor-container"> 

            <div class="image-preview-container modern-card">

                <div data-cropper-wrapper class="cropper-wrapper">
                    <img data-image-preview class="image-preview" alt="" />
                </div>  
                
            </div>

            <div class="settings-panel-right modern-card">

                <label for="add-crop">
                    Przytnij <input type="checkbox" data-add-crop-checkbox name="add-crop" id="add-crop">
                </label>

                <label for="add-blur">
                    Dodaj Rozmycie <input type="checkbox" data-add-blur-checkbox name="add-blur" id="add-blur">
                </label>

                <label for="add-sepia">
                    Dodaj Sepie <input type="checkbox" data-add-sepia-checkbox name="add-sepia" id="add-sepia">
                </label>

                <label for="clear-effects">
                    Wyczyść efekty <input type="checkbox" data-clear-effects-checkbox name="clear-effects" id="clear-effects">
                </label>

            </div>

        </div>

    </div>

</div>

{% endblock %}

{% block panel_javascripts %}

<script> 

    const EXPORT_IMAGE_URL = "{{ path('gtm_editor_api_export_image') }}"  
    const GET_IMAGE_DATA_URL = "{{ GET_IMAGE_DATA_URL }}"

</script> 
 
<script type="module" src="{{ asset('graphics-tools-module/js/editor-panel/main.js') }}"></script>
{# <script type="module" src="{{ asset('graphics-tools-module/dist/editor-panel.js') }}"></script> #}

{% endblock %}