{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('graphics-tools-module/css/base.css') }}">
    {% block panel_stylesheets %}{% endblock %}

{% endblock %}

{% block body %} 

    <div id="graphics-tools-module" class="main-layout container">

        <div class="nav-area">

            <div class="nav-container">

                <nav class="main-navigation">

                    {% set currentPath = app.request.pathInfo %}
                    {% set mainPanelPath = path('gtm_main_panel') %}
                    {% set compressorPanelPath = path('gtm_compressor_panel') %}
                    {% set converterPanelPath = path('gtm_converter_panel') %}
                    {% set editorPanelPath = path('gtm_editor_panel') %}
                    {% set myImagesPanelPath = path('gtm_user_images_panel') %}

                    <ul class="main-navigation-list">

                        <li class="main-navigation-item">
                            <a class="main-navigation-link {{ currentPath == mainPanelPath ? 'active' : '' }}"
                                href="{{ mainPanelPath }}">
                                <i class="main-navigation-link-icon fa-solid fa-house"></i>
                                <span class="main-navigation-link-text">Panel Główny</span>
                            </a>
                        </li>

                        <li class="main-navigation-item">
                            <a class="main-navigation-link {{ currentPath == myImagesPanelPath ? 'active' : '' }}"
                                href="{{ myImagesPanelPath }}">
                                <i class="main-navigation-link-icon fa-solid fa-images"></i>
                                <span class="main-navigation-link-text">Moje Grafiki</span>
                            </a>
                        </li>

                        <li class="main-navigation-item">
                            <a class="main-navigation-link {{ currentPath == compressorPanelPath ? 'active' : '' }}"
                                href="{{ compressorPanelPath }}">
                                <i class="main-navigation-link-icon fa-solid fa-minimize"></i>
                                <span class="main-navigation-link-text">Kompresor</span>
                            </a>
                        </li>

                        <li class="main-navigation-item">
                            <a class="main-navigation-link {{ currentPath == converterPanelPath ? 'active' : '' }}"
                                href="{{ converterPanelPath }}">
                                <i class="main-navigation-link-icon fa-solid fa-icons"></i>
                                <span class="main-navigation-link-text">Konwerter</span>
                            </a>
                        </li>

                        <li class="main-navigation-item">
                            <a class="main-navigation-link {{ currentPath == editorPanelPath ? 'active' : '' }}"
                                href="{{ editorPanelPath }}">
                                <i class="main-navigation-link-icon fa-solid fa-screwdriver-wrench"></i>
                                <span class="main-navigation-link-text">Edytor Zdjęć</span>
                            </a>
                        </li>

                    </ul>

                </nav>

                <theme-switcher role="button" aria-label="Przełącznik motywu" data-id="theme-switcher"></theme-switcher>

            </div>

        </div>

        {% block panel_content %}{% endblock %}

    </div>

{% endblock %}

{% block javascripts %}

    {% block panel_javascripts %}{% endblock %}

{% endblock %}