{% extends 'graphics_tools_module/panel.html.twig' %}

{% block title %}Narzędzia Graficzne | Moje pliki{% endblock %}

{% block panel_stylesheets %}  
    <link rel="stylesheet" href="{{ asset('graphics-tools-module/css/user-images-panel.css') }}">
{% endblock %}

{% block panel_content %} 

    <div class="main-area modern-card" id="graphics-tools-module-user-images-panel">

        <images-gallery-modal></images-gallery-modal>

        {% include "graphics_tools_module/user_images_panel/user-images.html.twig" %}

        {% include "graphics_tools_module/components/confirm-modal.html.twig" %}
        
    </div>

{% endblock %} 

{% block panel_javascripts %}

    <script> 

        const GET_USER_IMAGES_JSON = "{{ GET_USER_IMAGES_JSON }}"
        const REMOVE_USER_IMAGE_JSON = "{{ REMOVE_USER_IMAGE_JSON }}"
        const REMOVE_ALL_USER_IMAGES_JSON = "{{ REMOVE_ALL_USER_IMAGES_JSON }}"

    </script> 
    
    <script type="module" src="{{ asset('graphics-tools-module/js/panels/user-images-panel/main.js') }}"></script>

{% endblock %}