{% extends 'graphics_tools_module/panel.html.twig' %}

{% block title %}Narzędzia Graficzne | Konwerter{% endblock %}

{% block panel_stylesheets %}  
    <link rel="stylesheet" href="{{ asset('graphics-tools-module/css/converter-panel.css') }}">
{% endblock %}

{% block panel_content %} 

    <div class="main-area" id="graphics-tools-module-converter">

        <div class="image-operation"> 

            <div class="modern-card">
                <div class="panel__header">
                    <h2 class="panel__title">Konwerter obrazów</h2>
                </div>

                {% include "graphics_tools_module/converter_panel/settings-box.html.twig" %}

                <div class="panel__alerts" data-operation-alerts>
                    <custom-alert data-message="Wybranie plików automatycznie rozpocznie operacje"></custom-alert>
                </div>
        
                {{ include('graphics_tools_module/components/drop-zone.html.twig', {
                    textInfoTop: 'Przeciągnij i upuść obrazy lub kliknij, aby rozpocząć',
                    textInfoBottom: 'Maksymalny rozmiar jednego pliku:',
                    isTypeMultiple: true
                }, with_context: false) }}
        
            </div>
        
            {% include "graphics_tools_module/components/image-operation-table.html.twig" %}
            
        </div>  
    </div> 

{% endblock %}

{% block panel_javascripts %}


<script> 

    const CONVERT_IMAGES_URL = "{{ path('gtm_converter_api_convert_image') }}"  
    const GET_IMAGE_DATA_URL = "{{ GET_IMAGE_DATA_URL }}"
    const DOWNLOAD_ALL_IMAGES_URL = "{{ path('gtm_download_all_images') }}"

</script> 

<script type="module" src="{{ asset('graphics-tools-module/js/panels/converter-panel/main.js') }}"></script>

{% endblock %}